# Site Settings
locale: "en-US"
title: "Prepare for the Next"
title_separator: "-"
subtitle: "Notes on infra, AI systems, and production failures"
name: "Seon Woo Kim"
email: seonwoo960000.kim@gmail.com
description: >-
  Notes on infra, AI systems, and production failures
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://seonwkim.github.io" # the base hostname & protocol for your site
repository: "seonWKim/blog"
github_username: seonwoo960000

# Theme Settings
remote_theme: "mmistakes/minimal-mistakes@4.27.3"
minimal_mistakes_skin: "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# SEO Related
og_image: # Open Graph/Twitter default site image (for social media previews)
social:
  type: Person # Person or Organization (defaults to Person)
  name: "Seon Woo Kim" # If the user or organization name differs from the site's name
  links:
    - "https://github.com/seonWKim"
    - "https://www.linkedin.com/in/seon-woo-kim-53b6481ba/"

# Analytics
analytics:
  provider: false # false (default), "google", "google-universal", "google-gtag", "custom"

# Site Search
search: true
search_full_content: true
search_provider: lunr # lunr (default), algolia, google

# Comments
comments:
  provider: "utterances" # false (default), "disqus", "discourse", "facebook", "staticman", "staticman_v2", "utterances", "giscus", "custom"
  utterances:
    theme: "github-light" # "github-light" (default), "github-dark"
    issue_term: "pathname" # "pathname" (default)

# Site Author
author:
  name: "Seon Woo Kim"
  avatar: "/assets/images/profile.png" # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio: "Prepare for my Next Move"
  location: "Anywhere Where I can bring my Mac"
  email: "seonwoo960000.kim@gmail.com"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:seonwoo960000.kim@gmail.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/seonWKim"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/seon-woo-kim-53b6481ba/"

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/seonWKim"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/seon-woo-kim-53b6481ba/"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
paginate: 10
paginate_path: /page:num/
timezone: America/New_York # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag

# Atom Feed
atom_feed:
  path: # blank (default) uses feed.xml
  hide: false

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      toc: true
      toc_sticky: true
      breadcrumbs: true
      show_date: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      breadcrumbs: true
