// Custom layout overrides to minimize profile section and maximize content area

// Reduce sidebar width significantly
@media (min-width: 64em) {
  .layout--post .page-wrapper {
    // Use narrower sidebar - was 175px, now 140px
    grid-template-columns: 140px 1fr;
    grid-column-gap: 2.5em; // Slightly reduce gap
  }
  
  .layout--post .page-sidebar {
    width: 140px;
  }
  
  // Content takes more space
  .layout--post .page-content {
    width: 100%;
    max-width: 850px; // Optimal reading width
  }
}

// Make profile section more compact
.page-author {
  margin-bottom: 1.5em;
  
  .author-avatar {
    width: 60px !important; // Reduce from 100px on desktop
    height: 60px !important;
    margin-bottom: 0.5em;
  }
  
  .author-name {
    font-size: 0.9rem;
    margin-bottom: 0.3em;
  }
  
  .author-info {
    text-align: center;
  }
}

// Compact social links
.author-links {
  margin-bottom: 1em;
  
  .author-link {
    display: block;
    margin-bottom: 0.3em;
    
    a {
      font-size: 1.2rem; // Slightly smaller icons
    }
  }
}

// Move metadata to be more compact
.page-sidebar {
  font-size: 0.85rem;
  
  .read-time {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .page-date {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 1em;
  }
}

// Make taxonomy (categories/tags) more compact
.page-taxonomies-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.page-taxonomies {
  margin-bottom: 1em;
  padding-left: 0;
  
  .page-taxonomy {
    font-size: 0.8rem;
    margin-bottom: 0.3em;
    
    a {
      padding: 0.2em 0.5em;
      border-radius: 3px;
      display: inline-block;
    }
  }
}

// Improve content area readability
.page-content {
  .e-content {
    line-height: 1.7;
    
    h2 {
      margin-top: 2em;
      margin-bottom: 0.7em;
    }
    
    h3 {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }
    
    p {
      margin-bottom: 1.2em;
    }
    
    // Better code block styling
    .highlighter-rouge {
      margin-bottom: 1.5em;
    }
  }
}

// On mobile, ensure good experience
@media (max-width: 63.99em) {
  .page-author {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    
    .author-avatar {
      width: 50px !important;
      height: 50px !important;
      margin-right: 1em;
      margin-bottom: 0;
    }
    
    .author-info {
      text-align: left;
      flex: 1;
    }
    
    .author-name {
      margin-bottom: 0.2em;
    }
  }
  
  .author-links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    
    .author-link {
      display: inline-block;
      margin-right: 0.5em;
      margin-bottom: 0;
    }
  }
  
  .page-sidebar {
    .read-time, .page-date {
      display: inline-block;
      margin-right: 1em;
    }
  }
  
  .page-taxonomies {
    display: flex;
    flex-wrap: wrap;
    
    .page-taxonomy {
      margin-right: 0.5em;
    }
  }
}

// Improve header area to feel less cramped
.page-header {
  margin-bottom: 1.5em;
  
  .page-title {
    line-height: 1.3;
    margin-bottom: 0.5em;
  }
}

// Better spacing for post share buttons
.page-share {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid #e5e5e5;
}
